<section class="w-full mx-auto bg-transparent">
    <% if (successMessage || errorMessages) { %>
    <div class="flex lg:w-1/2 mx-auto shadow-lg rounded-lg mt-4" id="alert">
            <% if (successMessage) { %>
            <div class="bg-green-600 py-4 px-6 rounded-l-lg flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            </div>
            <% } else if(errorMessages) { %>
                <div class="bg-red-600 py-4 px-6 rounded-l-lg flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="fill-current text-white" width="20" height="20"><path fill-rule="evenodd" d="M4.47.22A.75.75 0 015 0h6a.75.75 0 01.53.22l4.25 4.25c.141.14.22.331.22.53v6a.75.75 0 01-.22.53l-4.25 4.25A.75.75 0 0111 16H5a.75.75 0 01-.53-.22L.22 11.53A.75.75 0 010 11V5a.75.75 0 01.22-.53L4.47.22zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5H5.31zM8 4a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 018 4zm0 8a1 1 0 100-2 1 1 0 000 2z"></path></svg>
                </div>
            <% } %>
        <div class="px-4 py-6 bg-white rounded-r-lg flex justify-between items-center w-full border border-l-transparent border-gray-200">
            <% if (successMessage) { %>
            <div><%= successMessage %></div>
            <% } else if(errorMessages && errorMessages.length > 0) { %>
                <ul>
                    <% errorMessages.forEach(errorMessage => { %>
                      <li><i class="ri-alarm-warning-line text-red-500 mx-4"></i><%= errorMessage %></li>
                    <% }); %>
                </ul>
            <% } %>
            <button type="submit" onclick="hideMessage()">
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-gray-700" viewBox="0 0 16 16" width="20" height="20"><path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path></svg>
            </button>
        </div>
    </div>
    <% } %>
    <h1 class="text-4xl text-center text-white py-10">Categorias</h1>
    <div class="overflow-x-auto">
        <div class="flex items-center justify-center overflow-hidden">
            <div class="w-full lg:w-1/2">
                <div class="bg-white shadow-md rounded my-6">
                    <table class="min-w-max w-full table-auto">
                        <thead>
                            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                <th class="py-3 md:px-6 text-center md:text-left">Categoria</th>                    
                                <th class="py-3 md:px-6 text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">
                            <% categorys.forEach(category => { %>
                            <tr class="border-b border-gray-200 hover:bg-gray-100">
                                <td class="py-3 px-6 text-left whitespace-nowrap">
                                    <div class="flex items-center">
                                        <span class="font-medium"><%= category.name %></span>
                                    </div>
                                </td>
                                <td class="py-3 md:px-6 text-center">
                                    <div class="flex item-center justify-center">        
                                        <div class="w-5 mr-2 transform hover:text-purple-500 hover:scale-110">
                                            <a href="/deletecategory/<%= category.id %>"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                            </svg></a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-violet w-full mx-auto lg:my-2 py-8">
    <h1 class="text-4xl text-center text-yellow py-10">Agregar Categorias</h1>
    <form action="/addcategory" class="w-1/2 bg-violet-500 mx-auto p-4" method="post">
        <label for="nombre" class="flex flex-col py-2 lg:w-1/2 mx-auto">
            Nombre
            <input id="nombre" type="text" name="name" value="<%= data.name || '' %>" placeholder="Nombre de la categoria" class="rounded-2xl py-2 px-4 my-2 font-sans" autocomplete="name">
        </label>
        <button type="submit" class="bg-yellow-500 py-2 px-6 rounded-xl mt-2 font-bold text-violet hover:text-white mx-auto flex">Agregar</button>
    </form>
</section>