<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
<section class="bg-violet-500 lg:w-1/2 mx-auto my-10">
    <form action="/editproduct/<%= product.id %>" class="w-1/2 mx-auto p-4" method="post">
        <label for="nombre" class="flex flex-col py-2">
            Nombre
            <input id="nombre" type="text" name="name" value="<%= product.name %>" placeholder="Nombre del producto" class="rounded-2xl py-2 px-4 my-2 font-sans" autocomplete="name">
        </label>
            <label for="price" class="flex flex-col py-2">
                Precio
                <input id="price" type="number" name="price" value="<%= product.price %>" class="rounded-2xl py-2 px-4 my-2 font-sans" placeholder="$1500" autocomplete="cc-number">
            </label>      
        <label for="image" class="flex flex-col py-2">
            Ruta imagen
            <div class="flex flex-row-reverse">
                <input id="image" type="text" placeholder="./images/sinimagen.avaif" value="<%= product.image %>" name="image" class="rounded-2xl py-2 px-4 my-2 w-full font-sans" autocomplete="off">
            </div>
        </label>
        <label for="details" class="flex flex-col py-2">
            Detalles
            <div class="flex flex-row-reverse">
                <textarea id="details" type="text" placeholder="Separe los detalles con ;" name="details" class="rounded-2xl py-2 px-4 my-2 w-full font-sans" autocomplete="off" cols="15" rows="3"><%= product.details %></textarea>
            </div>
        </label>
        <label for="linkPago" class="flex flex-col py-2">
            Link de pago(opcional)
            <div class="flex flex-row-reverse">
                <input id="linkPago" type="text" name="linkPago" class="rounded-2xl py-2 px-4 my-2 w-full font-sans" autocomplete="off">
            </div>
        </label>
        <label for="otherDetails" class="flex flex-col py-2">
            Otros detalles
            <div class="flex flex-row-reverse">
                <textarea id="otherDetails" type="text" placeholder="Separe los detalles con ;" name="otherDetails" class="rounded-2xl py-2 px-4 my-2 w-full font-sans" autocomplete="off" cols="15" rows="3"><%= product.otherDetails %></textarea>
            </div>
        </label>
        <label for="idCategory" class="flex flex-col py-2">
            Categoria
            <div class="flex flex-row-reverse">
                <select name="idCategory" id="idCategory" class="rounded-2xl py-2 px-4 my-2 w-full focus:border-green-200 focus:ring-green-200 font-sans">
                    <% categorys.forEach(category => { %>
                        <% if (product.idCategory == category.id) { %>
                            <option selected class="rounded-2xl py-2 px-4 my-2 w-full" value="<%= category.id %>"><%= category.name %></option>
                        <% }else { %>
                    <option class="rounded-2xl py-2 px-4 my-2 w-full" value="<%= category.id %>"><%= category.name %></option>
                    <% } %>
                    <% }) %>
                </select>
            </div>
        </label>
        <button type="submit" class="bg-yellow-500 py-2 px-6 rounded-xl mt-2 font-bold text-violet hover:text-white mx-auto flex">Editar producto</button>
    </form>
</section>
<%- include('../partials/footer.ejs') %> 
    <script>
        const footer = document.querySelector('footer');
        footer.classList.remove('sticky', 'top-[100vh]');
    </script>   
</body>
</html>