<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <%- include('./partials/nav.ejs') %>
    <section class="w-full h-30em bg-portada flex items-center justify-center">
      <h1 class="text-white text-3xl w-2/4 text-center">Transformando ideas en realidad, con impresión 3D y grabado láser</h1>
    </section>
    <section id="service" class="w-full xl:h-30em bg-violet pb-12">
      <h1 class="text-4xl text-center text-yellow py-10">Servicios</h1>
      <div class="md:flex justify-around flex-row">
        <% services.forEach(service => { %>
        <div class="basis-1/4 my-6 rounded-xl">
          <div class="flex-col bg-violet-500 py-12">
            <img class="mx-auto w-14 mb-6" src="<%= service.iconService %>" alt="">
            <p class="w-3/4 mx-auto text-white"><%= service.details %></p>
            <% if (user) {%>
              <% if (user.roleId == 1) {%>
                <div class="flex justify-evenly mx-auto my-4">
                  <a class="text-3xl text-yellow hover:text-green-600 ri-edit-line" href="/editservice/<%= service.id %>"></a>
                  <a class="text-3xl text-yellow hover:text-red-600 ri-delete-bin-2-line" href="/deleteservice/<%= service.id %>"></a>
                </div>
              <% } %>
            <% } %>
          </div>
        </div>
        <% }) %>
      </div>
    </section>
    <section class="w-full bg-transparent">
      <h1 class="text-4xl text-center text-white py-10">Productos</h1>
      <% if (products == 0) { %>
        <div class="flex lg:w-1/2 mx-auto shadow-lg rounded-lg" id="alert">
            <div class="bg-red-600 py-4 px-6 rounded-l-lg flex items-center">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="fill-current text-white" width="20" height="20"><path fill-rule="evenodd" d="M4.47.22A.75.75 0 015 0h6a.75.75 0 01.53.22l4.25 4.25c.141.14.22.331.22.53v6a.75.75 0 01-.22.53l-4.25 4.25A.75.75 0 0111 16H5a.75.75 0 01-.53-.22L.22 11.53A.75.75 0 010 11V5a.75.75 0 01.22-.53L4.47.22zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5H5.31zM8 4a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 018 4zm0 8a1 1 0 100-2 1 1 0 000 2z"></path></svg>
            </div>
            <div class="px-4 py-6 bg-white rounded-r-lg flex justify-between items-center w-full border border-l-transparent border-gray-200">
              <div>Lo siento en este momento estamos renovando el stock, no tenemos productos para mostrar</div>
              <button type="submit" id="closeAlert">
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-current text-gray-700" viewBox="0 0 16 16" width="20" height="20"><path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z"></path></svg>
              </button>
            </div>
          </div>
    <% } %>
      <div class="md:flex justify-around flex-row flex-wrap">
        <% products.forEach(product => { %>
        <div class="basis-1/2 lg:basis-1/6 my-6 rounded-xl">
          <div class="flex-col bg-violet-500 md:mx-6 lg:mx-auto">
            <img class="rounded-t-xl w-full h-44 object-contain bg-white" src="<%= product.image %>" alt="<%= product.name %>">
            <div class="py-4 text-center h-64">
              <h1 class="text-2xl text-center py-2 text-white"><%= product.name %></h1>
              <ul class="columns-1">                      
                <% const details = product.details.split(";")
                details.slice(0, 3).forEach(detail => {  %>
                  <% if (detail != "") { %>  
                <li class="flex mx-8">
                  <span class="mr-1">
                    <i class="ri-arrow-right-double-line text-yellow text-2xl text-deep-purple-accent-400 hover:animate-pulse"></i>
                  </span>
                  <%= detail %>
                </li>
                <% } else {%>
                  <li class="flex mx-8">
                    <span class="mr-1">
                      <i class="ri-arrow-right-double-line text-yellow text-2xl text-deep-purple-accent-400 hover:animate-pulse"></i>
                    </span>
                    No fueron especificadas
                  </li>
                <% } %>
                <% }) %>
              </ul>
              <button class="mx-auto my-6" onclick="showDetails('<%= product.name %>', '<%= product.price %>', '<%= product.details %>','<%= product.image %>')"><a class="rounded-3xl bg-yellow px-8 py-1 text-2xl font-semibold text-violet hover:text-white hover:bg-violet focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-500">Detalles</a></button>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <div id="productModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 hidden">
            <div class="bg-gray-100 bg-opacity-75 rounded shadow p-6 w-full lg:w-1/2">
                <div class="flex flex-row-reverse justify-between items-center mb-2">
                    <span class="text-right text-5xl block cursor-pointer ri-close-line hover:text-red-500" onclick="hideDetails()"></span>
                    <h2 id="productName" class="text-2xl font-semibold"></h2>
                    </div>
                    <div class="lg:flex rounded-lg bg-transparent">
                    <img class="rounded-t-lg lg:rounded-l-lg lg:w-1/2 h-44 w-full lg:h-96 object-contain bg-white" id="productImage" />
                    <div class="p-6 rounded-b-lg rounded-none lg:rounded-r-lg bg-violet-500 lg:w-1/2 lg:flex lg:flex-col lg:justify-around">
                        <h5 id="productPrice" class="mb-2 text-xl font-medium leading-tight text-white"></h5>
                        <ul id="productDescription" class="my-4"></ul>
                        <a href="#" class="block rounded bg-yellow px-6 pb-2 pt-2.5 text-sm text-center font-bold text-violet hover:text-white">
                          Comprar
                        </a>
                    </div>
                </div>
            </div>
        </div>
      <button class="block mx-auto my-8 py-10"><a class="rounded-3xl bg-yellow px-12 py-2.5 text-2xl font-semibold text-violet hover:text-white hover:bg-violet-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-500">Ver más</a></button>
    </section>
    <section id="contact" class="w-full md:h-30em bg-violet pb-12">
      <h1 class="text-4xl text-center text-yellow py-10">Contacto</h1>
      <div class="md:columns-3 justify-around flex-row">
        <div class="basis-1/4">
          <div class="flex-col text-justify bg-transparent py-12">
            <img class="mx-auto py-4" src="../images/mailIcon.svg" alt="">
            <p class="w-3/4 mx-auto text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="basis-1/4 rounded-xl">
          <div class="flex-col text-justify bg-transparent py-12">
            <img class="mx-auto py-4" src="../images/whatsappIcon.svg" alt="">
            <p class="w-3/4 mx-auto text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <div class="basis-1/4 rounded-xl">
          <div class="flex-col text-justify bg-transparent py-12">
            <img class="mx-auto py-4" src="../images/instagramIcon.svg" alt="">
            <p class="w-3/4 mx-auto text-white">Lorem ipsum dolor, sit amet consectetur adipisicing eli</p>
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer.ejs') %>
    <script src="/javascript/effects.js"></script>
    <script src="/javascript/details.js"></script>
  </body>
</html>
